.dashboard {
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
}
.dashboard label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard button[type="submit"] {
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.209);
  border-radius: 5px;
  font-size: 0.75rem;
  margin-bottom: 15px;
  justify-content: flex-end;
  align-items: center;
}
.navbar button {
  padding: 10px 20px;
  margin-left: 15px;
  font-size: 0.75rem;
}
@media screen and (max-width: 500px) {
  .navbar .logo {
    display: none;
  }
}

.buy-credit-modal {
  position: absolute;
  padding: 15px;
  right: 25px;
  top: 49px;
  border: 1px solid grey;
  border-radius: 0 0 5px 5px;
  background-color: rgb(54, 54, 54);
  min-width: 250px;
  min-height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.buy-credit-modal div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buy-credit-modal button {
  padding: 10px;
  width: 200px;
  font-size: 1.05rem;
  margin: 5px;
}
.timestamps textarea {
  padding: 10px;
  line-height: 1.2rem;
  width: 100%;
}

.timestamps {
  height: auto; /* Allow container to expand based on textarea height */
  max-height: none; /* Remove maximum height constraint */
  overflow: auto; /* Enable scrolling when content exceeds max-height */
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  width: calc(100vw - 42px);
}
